* {
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	text-decoration:none;
	color:#000;
	z-index:0;
}
@font-face {
	font-family:no;
	src:url( no.otf);
}
@font-face {
	font-family:ff2;
	src:url( ff2.otf);
}
@font-face {
	font-family:ff1;
	src:url( ff1.otf);
}
.nfts_pages{width: 1000px;margin: 0 auto 10px;height: 40px;clear: both;}
.nfts_pages a{display:block;width: 52px;font-size: 14px;border: 1px solid #ddd;float:left;margin-right: 5px;text-align: center;padding: 2px 5px;}
.nfts_pages a:hover{ text-decoration:none; background: #9900FF; color:#fff; border:1px solid #66FFFF; transition: all 100ms ease-in-out; }
.nfts_pages .a_current{text-decoration:none; background:#9900FF;font-weight: bold; color:#fff; border:1px solid #66FFFF;}



.nfts_con{width: 1000px; margin:0 auto ;clear: both; padding-bottom:20px;}
.nfts_con  span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; font-size:14px;
}
.nfts_con .n_unit { display:block;width: 174px; float:left;overflow: hidden;height: 209px;margin-right: 5px;border: 1px solid #dfdfdf;padding: 6px;margin-bottom: 10px;}
.nfts_con .n_unit a{
    height: 174px;
    width: 174px;
    overflow: hidden;
    display: block;
    position: relative;
} 


.nfts_con a:hover{ text-decoration:none;box-shadow: 0 0 10px #ccc ;}
.nfts_con a img{width: 150%;height: 150%;margin-top: -14px;margin-left: -42px;}
.nfts_con a:hover img{-webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out; height: 300px; width:300px;
    margin-left: -115px;
    margin-top: -65px; }

.nfts_con .n_unit a u {
    display: block;
    text-decoration:
    none;
    position: absolute;
    bottom: -20px; font-size:13px;
    color: #ffffff;
    width: 160px;
    text-align: right;
    right: 2px;
}
.nfts_con .n_unit a:hover u { transition: all 280ms ease-in-out; 
bottom: 6px;
    
}
.nfts_con a:hover b{}


