* {
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	text-decoration:none;
	color:#000;
	z-index:0;
}
@font-face {
	font-family:no;
	src:url( no.otf);
}
@font-face {
	font-family:ff2;
	src:url( ff2.otf);
}
@font-face {
	font-family:ff1;
	src:url( ff1.otf);
}
.nfts_pages{width: 972px;margin: 10px auto 10px;height: 40px;clear: both;}
.nfts_pages a{display:block;width: 111px;font-size: 30px;border: 1px solid #ddd;float:left;margin-right: 14px;text-align: center;padding: 2px 5px;margin-bottom: 11px;}
.nfts_pages a:hover{ text-decoration:none; background: #9900FF; color:#fff; border:1px solid #66FFFF; transition: all 100ms ease-in-out; }
.nfts_pages .a_current{text-decoration:none; background:#9900FF;font-weight: bold; color:#fff; border:1px solid #66FFFF;}



.nfts_con{width: 968px; margin:0 auto ;clear: both; padding-bottom:20px;}
.nfts_con  span {
    border-radius: 50px;
    display: block;
    margin-top: 37px;
    margin-bottom: 15px;
    font-size: 65px;
    letter-spacing: 3px;
    height: 43px;
    line-height: 45px;
    text-indent: 30px;
}
.nfts_con .n_unit { display:block;overflow: hidden;/* height: 275px; */border: 1px solid #ccc;margin-bottom: 30px;padding: 0px 0 34px 0;}
.nfts_con .n_unit a{
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
} 


.nfts_con a:hover{ text-decoration:none;box-shadow: 0 0 10px #ccc ;}
.nfts_con a img{width: 100%;height:100%;}

.nfts_con .n_unit a u {
    display: block;
    text-decoration:
    none;
    position: absolute;
    bottom: -25px; font-size:14px;
    color: #ffffff; 
    width: 160px;
    text-align: right;
    right: 19px;
}




