 * {margin: 0; padding:0;}
 
body{background: linear-gradient(#d7f5ff 30%, #ffffff 100%)  no-repeat;}
        .frame {
            position: relative;
            height: 1031px;
            width: 1303px;
            zoom: 65%;
            background-repeat:
            no-repeat;
            text-align: center;
            margin: 6px auto;
            border: 1px solid #ccc;
            background-color: #000000;
        }
		
		
		
		
		 .frame .hair_p {
            width: 1030px;
            height: 1030px;
            /*隐藏溢出*/
            position: absolute;
            overflow: hidden;
            top: 0px;
            left: 0px;
            transition: all 100ms ease-in-out;
        }
		.frame .hair_p img{transition: all 600ms ease-in-out;width: 100%;height: 100%;}
		
        .hair_b {
            position: absolute;
            /*字体的位置*/
            right: 0px;
            top: 54px;
            background: #f1f1f1;
            height: 896px;
            width: 248px;
            border-left: 1px solid #ccdc;
            border-bottom: 1px solid #ccdc;
            padding: 10px 7px 10px 16px;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
		
		
		.b_h1{
    background: #373737;
    height: 30px;
    color: #fff;    margin: 10px 0;
    line-height: 30px;
}
		.b_h2{
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    text-align: left;
    text-indent: 9px;
}
		.b_con{}
        .b_con a {
            float: left;
            /*将a标签定义为块级元素.可以显示个框框*/
            display: block;
            padding: 1px 4px;
            border:1px solid #ccc;
            margin-left: 2px;
            text-decoration: none;
            color: #000000;
            background:#fff;
            font-size: 20px;
            width: 70px;
            line-height: 54px;
            height: 57px;
            overflow:
            hidden;
            margin-bottom: 2px;
        }
		.b_con a img{ width:100%;}
        .b_con a:hover { font-size:16px;
             border:1px solid  #000;
            color:#000;
        }
.clear{ clear:both;}

#glasses a{width: 97px;}
#nftbg a{
    width: 67px;
    height: 67px;
    padding: 0;
    }
#nftcloth	a{
    width: 67px;
    height: 48px;
    padding: 0;
    }
	#nftcloth a img{
    margin-top: -26px;
}
	
.tabs{
  position:
  relative;
  width: 109px;
  height: 518px;
}
.tab-pane{
  /* display:inline-block; */
}
.tabs input[type='radio']{
  position:absolute;
  clip:rect(0,0,0,0)
}
.tab-item{
  display:
  block;
  height: 60px;
  line-height:34px;
  cursor:
  pointer;
  padding:0 10px
;
  margin-bottom: 4px;
  width: 32px;
}

.tab-content{
  position:
  absolute;
  border:1px solid #eee;
  padding: 5px;
  left: 4px;
  top:36px;
  bottom:0;
  right:0;
  background:#fff;
}

.tabs input[type='radio']:checked+.tab-item{/**导航选中状态**/

}
.tabs input[type='radio']:checked+.tab-item+.tab-content{/**当前内容切换**/
  z-index:1
}



/**给导航添加横条的缩放效果**/
.tab-item:after{
  position:absolute;
  content:'';
  height:3px;
  width:100%;
  left:0;
  bottom:2px;
  transition:.3s;
  transform:scaleX(0)
}

.tabs input[type='radio']:checked+.tab-item:after{
  transform:scaleX(1)
}
/**给内容区域添加一个淡入淡出的效果**/
.tab-content{
  position:
  absolute;
  background:#eee;
  padding: 2px;
  left: 52px;
  top: -3px;
  bottom:0;
  width: 178px;right:0;
  transition:.3s;
  opacity:0;
}

.tabs input[type='radio']:checked+.tab-item+.tab-content{
  z-index:1;
  opacity:1;
}

.black{ background:#111}
.pink{ background:#FF3399}
.red{ background:#af1775}
.orange{ background:#FF6600}
.yellow{ background:#e9eb3a}
.green{ background:#66CC00}
.blue{ background:#66CCCC}
.purple{ background:#663399}

.head{
    width: 900px;
    margin: 7px auto 10px;
    clear: both;
    height: 31px;
}
.head h2{
    display: block;
    float: left;
    width: 400px;
    padding-left: 22px;
    line-height: 36px;
    font-size: 22px;
    font-weight: normal;
    text-shadow: 0 0 10px #fff;
    letter-spacing: 0px;
}
.head h2 span{
    font-weight: bold;
}
.head_r{
    float: right;
    height: 30px;
    line-height: 37px;
    padding-right: 23px;
}
.head_r a{
    display: inline-block;
    height: 30px;
    width: 177px;
    background: #ffffff69;
    border-radius: 10px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #b80b0b;
    font-weight: bold;
    color: #d30303;
    margin-left: 11px;
    -moz-animation: title 2.4s linear infinite;
    -webkit-animation: title 2.4s linear infinite;
    animation: title 2.4s linear infinite;
    text-shadow: 0 0 6px #fff;
}
.head_r a:hover{}

.original_btn{position: absolute;height: 54px;line-height: 35px;text-align: left;width: 273px;background: #f1f1f1;top: 0px;right: 0;border-bottom: 1px solid #ccc;z-index: 999;}
.original_btn b{}
.original_btn button{
    cursor:
    pointer;
    height: 40px;
    width: 221px;
    margin-left: 9px;
    background: #ffffff;
    position: absolute;
    border: 1px solid #cdcdcd;
    color: #e50000; letter-spacing:2px;
    font-weight: bold;
    left: 18px;
    border-radius: 14px;
    top: 6px;
    font-size: 17px;
}
.original_btn button:hover{   border: 1px solid #f5fdff;background: #b70256; color:#fff; }
.original_btn b{}

#original{ position:relative; z-index:9999;}
#restyle{
    cursor:
    pointer;
    height: 99px;
    width: 428px;
    margin-left: 9px;
    background: #ffffff38;
    position: absolute;
    border: 1px solid #e3e3e3;
    color: #f30c0c; letter-spacing:2px;
    left: 278px;
    box-shadow: 0 0 10px #c71212;
    bottom: 112px;
    text-shadow: 2px 2px 0px #fff;
    border-radius: 33px;
    font-weight: bold;
    font-size: 40px;
    -moz-animation: title 2.4s linear infinite;
    -webkit-animation: title 2.4s linear infinite;
    animation: title 2.4s linear infinite;
    animation: breathe 1.1s infinite;
    }
	
	.head_r .nft_home{width: 125px;color: #222;border: 1px solid #898989;}
	
	@keyframes breathe{
		  0%{ transform: scale(.99); }
		  50%{ transform: scale(1.03); }
		  100%{ transform: scale(.99); }
		}
		
	#restyle:hover	{color:#21fdb6; text-shadow:0 0 6px 33FFFF; text-shadow: 0 0 6px #05f5d8;box-shadow: 0 0 10px #05f5d8;}
	@-webkit-keyframes title {
  0% {
    opacity: 0.8;
    right: 130px;
  }

  48% {
    opacity: 0.9;
    right: 130px;
  }

  52% {
    opacity: 1;
    right: 30px;
  }

  70% {
    opacity: 0.9;
    right: 30px;
  }

  100% {
    opacity:0.8;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }

  48% {
    opacity: 0;
    right: 130px;
  }

  52% {
    opacity: 1;
    right: 30px;
  }

  70% {
    opacity: 1;
    right: 30px;
  }

  100% {
    opacity: 0;
    right: 30px;
  }
}

#restyle:hover{
     border: 1px solid #000;
    background: #000;
    border: 5px solid #000;
    color: #fff; 
    }
	
	
	.head h2 u{
    font-size: 11px;
    text-decoration: none;
    border: 1px solid #cad3d3;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 16px;
    padding: 0 3px;
    position: absolute;
    height: 17px;
    color: #456c6e;
    line-height: 16px;
}

.creatimg{
    position: absolute;
    height: 69px;
    line-height: 35px;
    text-align: left;
    width: 273px;
    background: #f1f1f1;
    bottom: 0px;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 999;
    }
.creatimg button{cursor: pointer;height: 51px;width: 236px;margin-left: 7px;background: #db0606;position: absolute;border: 1px solid #ffffff;color: #ffffff;letter-spacing: 2px;font-weight: bold;left: 12px;border-radius: 14px;top: 9px;font-size: 24px;}

#newphoto{ width:1030px; height:1030px;}